<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ollamaserver">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- Permisos de almacenamiento para versiones anteriores a Android 11 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    
    <!-- Para Android 11+ si necesitas acceso total a archivos -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="OllamaServer"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:enableOnBackInvokedCallback="true">
        
        <activity 
            android:name=".MainActivity" 
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service 
            android:name=".OllamaService" 
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="false"/>
            
        <!-- Canal de notificaciones para Android 8.0+ -->
        <meta-data
            android:name="com.ollamaserver.notification_channel_ollama"
            android:value="ollama_channel" />
    </application>
</manifest>
